# NOTE: Based on the LLVM bazel config

# C++17 standard version is required.
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

# Turn on most warnings.
build --copt=-Wall --host_copt=-Wall
# Disable GCC warnings that are noisy and/or false positives on LLVM code.
# These need to be global as some code triggering these is in header files.
build --copt=-Wno-unused-parameter --host_copt=-Wno-unused-parameter
build --copt=-Wno-comment --host_copt=-Wno-comment
build --cxxopt=-Wno-class-memaccess --host_cxxopt=-Wno-class-memaccess
build --copt=-Wno-maybe-uninitialized --host_copt=-Wno-maybe-uninitialized
build --copt=-Wno-misleading-indentation --host_copt=-Wno-misleading-indentation

# Hide deprecated APIs used inside the LLVM project, which we cannot fix.
build --copt=-Wno-deprecated --host_copt=-Wno-deprecated

# lld links faster than other linkers.
build --linkopt=-fuse-ld=lld --host_linkopt=-fuse-ld=lld