{{define "play"}}
<!DOCTYPE html>
<html>

<head>
    <title>Medialib - playing '{{.Name}}'
    </title>
    <link href="https://cdn.simplecss.org/simple.min.css" rel="stylesheet">
</head>

<body>
    <h2>Now playing: '{{.Name}}'</h2>
    <video controls="controls" autoplay="autoplay" crossorigin="anonymous">
        <source src="{{.VideoURL}}" type="video/mp4">

        {{if .SubURL}}
        <track label="English" kind="subtitles" srclang="en" src="{{.SubURL}}" default="">
        </track>
        {{end}}

        Browser does not support the video tag
    </video>

    <button id="cast">Cast</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/castjs/5.3.0/cast.min.js"></script>

    <script>
        const cjs = new Castjs();
        document.getElementById('cast').addEventListener('click', function () {
            cjs.cast('{{.VideoURL}}', {
                subtitles: [{
                    active: true,
                    label: 'English',
                    src: '{{.SubURL}}'
                }],
            });
        });
    </script>
</body>

</html>
{{end}}