---
- name: Setup Thinkpad laptop
  hosts: local
  roles:
  - role: geerlingguy.docker
    become: true
    docker_install_compose: false
    docker_users:
    - daan

  tasks:
  - include_tasks: tasks/eduvpn.yml
  - include_tasks: tasks/zotero.yml
  - include_tasks: tasks/display-link.yml
  - include_tasks: tasks/vscode.yml
  - include_tasks: tasks/zoom.yml
  - include_tasks: tasks/spotify.yml
  - include_tasks: tasks/tailscale.yml
  - name: Install APT Packages
    become: true
    apt:
      update_cache: true
      cache_valid_time: 3600
      pkg:
      - spotify-client
      - build-essential
      - default-jdk
      - git
      - vim-gtk3
      - gimp
      - inkscape
      - python3-psutil # Allows Ansible to set keyboard shortcuts
      - sshpass # To use ask-ssh-pass with Ansible
      - bash-completion # Enable bash completion
      - zotero
      # Latex related
      - latexmk
      - texlive-latex-recommended
      - texlive-latex-extra
      - texlive-fonts-recommended
      - texlive-fonts-extra
      - texlive-science
      - texlive-extra-utils
      # End Latex related
      - ubuntu-restricted-extras # For MP3 support
      - totem # Media player
      - eduvpn-client
      - displaylink-driver
      - tailscale

  - name: Use Vim as editor
    become: true
    community.general.alternatives:
      name: editor
      path: /usr/bin/vim.gtk3

  - include_tasks: tasks/gnome.yml
