---
- name: Setup ZBook laptop
  hosts: local
  roles:
  - role: geerlingguy.docker
    become: true
    docker_install_compose: false
    docker_users:
    - daan

  tasks:
  - include_tasks: tasks/eduvpn.yml
  - include_tasks: tasks/zotero.yml
  - include_tasks: tasks/display-link.yml
  - include_tasks: tasks/claude.yml
  - include_tasks: tasks/vscode.yml
  - include_tasks: tasks/google-chrome.yml
  - include_tasks: tasks/zoom.yml
  - include_tasks: tasks/spotify.yml
  - include_tasks: tasks/tailscale.yml
  - name: Install APT Packages
    become: true
    apt:
      update_cache: true
      cache_valid_time: 3600
      pkg:
      - rclone
      - google-chrome-stable
      - spotify-client
      - build-essential
      - default-jdk
      - git
      - vim-gtk3
      - gimp
      - inkscape
      - python3-psutil # Allows Ansible to set keyboard shortcuts
      - sshpass # To use ask-ssh-pass with Ansible
      - bash-completion # Enable bash completion
      - zotero
      # Latex related
      - latexmk
      - texlive-latex-recommended
      - texlive-fonts-recommended
      - texlive-science
      - texlive-extra-utils
      # End Latex related
      - ubuntu-restricted-extras # For MP3 support
      - totem # Media player
      - eduvpn-client
      - displaylink-driver

  - name: Use Vim as editor
    become: true
    community.general.alternatives:
      name: editor
      path: /usr/bin/vim.gtk3

  - include_tasks: tasks/gnome.yml

  - name: Shut down when the lid is closed (on battery)
    become: true
    ansible.builtin.lineinfile:
      path: /etc/systemd/logind.conf
      regexp: '^HandleLidSwitch='
      line: HandleLidSwitch=poweroff
  - name: Ignore when lid is closed (on AC)
    become: true
    ansible.builtin.lineinfile:
      path: /etc/systemd/logind.conf
      regexp: '^HandleLidSwitchExternalPower='
      line: HandleLidSwitchExternalPower=ignore

  - name: Disable auto suspend on ac
    community.general.dconf:
      key: "/org/gnome/settings-daemon/plugins/power/sleep-inactive-ac-type"
      value: "'nothing'"
  
  - name: Disable auto suspend on battery
    community.general.dconf:
      key: "/org/gnome/settings-daemon/plugins/power/sleep-inactive-battery-type"
      value: "'nothing'"