{
	admin localhost:2019
}

oracle.wildarch.dev {
	route /cast* {
		basicauth {
			daan {{caddy_auth_password_hashed}}
		}
		uri strip_prefix /cast
		reverse_proxy 127.0.0.1:8001
	}
}

headscale.wildarch.dev {
	reverse_proxy localhost:8080
}